<section class="splash">
  <img src="https://martijnscheijbeler.com/wp-content/uploads/2018/01/books.jpg" alt="welcome image" />
  <h1>Welcome to BookClub</h1>
  <h2>Feel free to browse our library of books. </br> You can view books, authors, and reviews. Please leave a review before you leave!</h2>
  <h3>This is a Turing School of Software and Design Backend Mod 2 paired project</h3>
  <h4>Created by Earl Stephens and Zach Nager</h4>
</section>
